body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  width: 100vw;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons button:nth-child(1) {
  margin-right: 1em;
}

h1 {
  font-size: 2rem;
}
footer {
  background-color: aliceblue;
  padding: 0.5rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
